<html>
	<head lang="en">
		<title>Energy Forecasting by Radu Lupescu</title>

		<link rel="stylesheet" href="resources/css/angular-chart.css"/>
		<link rel="stylesheet" href="resources/css/bootstrap.css"/>
		<link rel="stylesheet" href="resources/css/select.css"/>
		<link rel="stylesheet" href="resources/css/rzslider.css"/>
		<link rel="stylesheet" href="css/style.css"/>

		<script type="text/javascript" src="resources/scripts/angular.js"></script>
		<script type="text/javascript" src="resources/scripts/chart.js"></script>
		<script type="text/javascript" src="resources/scripts/angular-chart.js"></script>
		<script type="text/javascript" src="resources/scripts/angular-sanitize.js"></script>
		<script type="text/javascript" src="resources/scripts/angular-animate.js"></script>
		<script type="text/javascript" src="resources/scripts/angular-ui-bootstrap.js"></script>
		<script type="text/javascript" src="resources/scripts/select.js"></script>
		<script type="text/javascript" src="resources/scripts/rzslider.js"></script>

		<script type="text/javascript" src="scripts/app.js"></script>
		<script type="text/javascript" src="scripts/utils.service.js"></script>
		<script type="text/javascript" src="scripts/gradientDescentLinearModel.service.js"></script>
		<script type="text/javascript" src="scripts/script.js"></script>
	</head>

	<body ng-app="energyForecast">
		<div ng-controller="GradientDescentCtrl as gdCtrl"
			style="margin: auto; width: 1100px; margin-top: 50px">

			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<label>Select energy type</label>
						<ui-select theme="bootstrap" ng-model="gdCtrl.energyType">
							<ui-select-match placeholder="Select energy type">{{$select.selected.displayName}}</ui-select-match>
							<ui-select-choices repeat="item in energyTypes | filter: $select.search" position="down">
								<div ng-bind-html="item.displayName | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<label>Select country or region</label>
						<ui-select theme="bootstrap" ng-model="gdCtrl.countrySelection">
							<ui-select-match placeholder="Select region">{{$select.selected}}</ui-select-match>
							<ui-select-choices repeat="item in countries | filter: $select.search" position="down">
								<div ng-bind-html="item | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
			</div>

			<div class="container" style="margin-top: 20px;">
				<div class="row">
					<div class="col-sm-12">
						<label>Select years range</label>
						<rzslider rz-slider-model="fromIndex" rz-slider-high="toIndex"
							rz-slider-options="{floor: 1990, ceil: 2014, minRange: 1}">
						</rzslider>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
						<button class="btn btn-primary" ng-click="showData()" ng-disabled="!gdCtrl.countrySelection">Show data</button>
					</div>
				</div>
			</div>

			<div ng-show="haveData">

				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<canvas id="line" class="chart chart-line" 
									chart-data="chartData" chart-labels="chartLabels" 
									chart-legend="true" chart-series="series"
									width="1000" height="500">
							</canvas>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<ul>
								<li ng-repeat="option in polynomialOptions">
									<input type="checkbox" id="{{option.name}}" ng-click="option.selected = !option.selected" ng-checked="option.selected">
									<label for={{option.name}}>
										{{option.value}}
										<sup ng-if="option.power">{{option.power}}</sup>
									</label>
								</li>
							</ul>
							{{polynomialOptions}}
						</div>
					</div>
				</div>

				<div class="container">
					<div class="row">
						<div class="col-sm-3">
							<button class="btn btn-primary" ng-click="process()">Process</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>